<span id="task_block">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input
            matInput [(ngModel)]="toDoListService.addText"
            placeholder="Add your new todo"
        >
    </mat-form-field>
    <app-button
        [tooltip]="'Add task'"
        (click)="toDoListService.addItem(toDoListService.addText, toDoListService.description)"
        class="button button--add"
        [disabled]="!toDoListService.addText"
     >Add task</app-button>
</span>
<span id="description_block">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <textarea
            matInput [(ngModel)]="toDoListService.description"
            placeholder="Description"
         ></textarea>
    </mat-form-field>
</span>
