 .del {
    border: 1px solid black;
    padding: 2%;
    background-color: transparent;
 }
 .todo_table {
    width: 100%;
    padding: 0;
    font-size: 70%;
 }
 #page {
    margin: 4%;
    font-size: 190%;
 }
 li {
    display: flex;
    justify-content: space-between;
    background-color: #e4ebff;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0% 3% 0% 3%;
    align-items: center;
 }
 ul {
    margin-top: 0;
    margin-bottom: 3%;
 }
 button.del {
    font-size: 80%;
    border-radius: 5px;
 }
 button.add {
    border: transparent;
    background-color: rgb(163, 182, 235);
    color: white;
    padding: 2%;
    border-radius: 5px;
    font-size: 70%;
 }
 span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 input {
    padding: 1.5%;
    font-size: 80%;
    flex: 1;
 }
 h2 {
    margin-bottom: 30px;
 }