<div id="page">
    <h2>Todo List</h2>
    <app-list-item/>
    <span id="task_block">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input
                matInput [(ngModel)]="text"
                placeholder="Add your new todo"
            >
        </mat-form-field>
        <app-button
            [tooltip]="'Add task'"
            (click)="addItem(text, description)"
            title="Add task"
            class="button button--add"
            [disabled]="!text"
         />
    </span>
    <span id="description_block">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <textarea
                matInput [(ngModel)]="description"
                placeholder="Description"
             ></textarea>
        </mat-form-field>
    </span>
</div>