 .del {
    border: 1px solid black;
    padding: 2%;
    background-color: transparent;
 }
 .todo_table {
    width: 100%;
    padding: 0;
    font-size: 70%;
 }
 #page {
    margin: 4%;
    font-size: 170%;
 }
 li {
    display: flex;
    justify-content: space-between;
    background-color: #e4ebff;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0% 2% 0% 3%;
    align-items: center;
    font-size: 150%;
 }
 ul {
    margin-top: 0;
    margin-bottom: 3%;
 }
 .button {
   font-size: 100%;
   border-radius: 5px;
   color: white;
   border: none;
   padding: 1%;
 }
 .button--delete {
   background-color: red;
 }
 .button--add {
    background-color: green;
 }
 .button--add:disabled {
   opacity: 0.5;
 }
 span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 input {
    padding: 1%;
    font-size: 80%;
    flex: 1;
 }
 h2 {
    margin-bottom: 30px;
 }