<div>
    <h1>Board</h1>
    <span>
        <ul #ul1>
            <h5>All ({{ dataService.toDoFilter(null).length }})</h5>
            <app-spinner *ngIf="dataService.isLoading" id="spinner"/>
            <ng-container *ngIf="!dataService.isLoading">
                <li
                    *ngFor="let item of dataService.toDoFilter(null)"
                >
                    <ng-container *ngIf="dataService.editedId != item.id">
                        <div id="task_text">
                            {{dataService.getItem(item.id)?.text}}
                        </div>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
        <ul #ul2>
            <h5>In progress ({{ dataService.toDoFilter('InProgress').length }})</h5>
            <app-spinner *ngIf="dataService.isLoading" id="spinner"/>
            <ng-container *ngIf="!dataService.isLoading">
                <li
                    *ngFor="let item of dataService.toDoFilter('InProgress')"
                >
                    <ng-container *ngIf="dataService.editedId != item.id">
                        <div id="task_text">
                            {{dataService.getItem(item.id)?.text}}
                        </div>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
        <ul #ul3>
            <h5>Complete ({{ dataService.toDoFilter('Complete').length }})</h5>
            <app-spinner *ngIf="dataService.isLoading" id="spinner"/>
            <ng-container *ngIf="!dataService.isLoading">
                <li
                    *ngFor="let item of dataService.toDoFilter('Complete')"
                >
                    <ng-container *ngIf="dataService.editedId != item.id">
                        <div id="task_text">
                            {{dataService.getItem(item.id)?.text}}
                        </div>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
    </span>
</div>