:host {
    cursor: default;
}
ul {
    width: fit-content;
    height: fit-content;
    margin-right: 1em;
    padding-inline-start: 0;
    margin-block-start: 0.5em;
}
li {
    display: flex;
    justify-content: space-between;
    background-color: #e4ebff;
    margin-bottom: 0.35em;
    padding: 0 0.5em 0 0.5em;
    align-items: center;
    font-size: 1.5em;
}
li.selected {
    background-color: rgb(153, 177, 245);
}
span {
    flex: 1;
}
div {
    border: solid 0.05em gray;
    border-radius: 0.5em;
    padding: 0.5em 0.5em 0 0.5em;
    margin-top: 0.5em;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
button {
    display: flex;
    justify-content: space-between;
    background-color: #e4ebff;
    margin-bottom: 0.35em;
    padding: .1em;
    align-items: center;
    font-size: 1em;
    margin: 1em;
    width: 6em;
}
#language {
    width: fit-content;
    height: fit-content;
    margin: .1em;
    padding-inline-start: 0;
}
a {
    border: solid 0.05em gray;
    border-radius: 0.5em;
    padding: .5em;
    margin: .5em;
    width: 8em;
}
