<ul class="todo_table">
    <app-spinner *ngIf="toDoListService.isLoading" id="spinner"/>
    <ng-container *ngIf="!toDoListService.isLoading">
        <span id="list_block">
            <div id="list">
                <li
                    [tooltip]="'Task'"
                    *ngFor="let id of toDoListService.itemList.keys()"
                    (click)="toDoListService.setSelectedId(id)"
                    (dblclick)="toDoListService.setEditedItemId(id)"
                    [class.selected]="id == toDoListService.selectedItemId"
                >
                    <ng-container *ngIf="toDoListService.editedITemId != id">
                        <mat-checkbox 
                            [checked]="toDoListService.itemList.get(id)?.status == 1"
                            (click)="toDoListService.setStatus(id)"
                        ></mat-checkbox>
                        <div id="task_text">
                            {{toDoListService.itemList.get(id)?.text}}
                        </div>
                        <app-button
                            [tooltip]="'Delete'"
                            (click)="toDoListService.deleteItem(id)"
                            class="button button--delete"
                        >Delete</app-button>
                    </ng-container>
                    <ng-container *ngIf="toDoListService.editedITemId == id">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <input
                                matInput [(ngModel)]="toDoListService.editText"
                                placeholder="Edit your todo"
                            >
                        </mat-form-field><pre> </pre>
                        <app-button
                            [tooltip]="'Save'"
                            (click)="toDoListService.saveItem(toDoListService.editText)"
                            class="button button--save"
                            [disabled]="!toDoListService.editText"
                        >Save</app-button>
                    </ng-container>
                </li>
            </div>
            <div
                id="description"
                [textContent]="toDoListService.currentDescription()"
            ></div>
        </span>
    </ng-container>
</ul>