<ul class="todo_table">
    <app-spinner *ngIf="dataService.isLoading" id="spinner"/>
    <ng-container *ngIf="!dataService.isLoading">
        <span id="list_block">
            <div id="list">
                <mat-radio-group [(ngModel)]="dataService.filterStatus">
                    <mat-radio-button>ALL</mat-radio-button>
                    <mat-radio-button value="InProgress">InProgress</mat-radio-button>
                    <mat-radio-button value="Complete">Complete</mat-radio-button>
                </mat-radio-group>
                <li
                    [tooltip]="'Task'"
                    *ngFor="let item of dataService.toDoFilter()"
                    (click)="dataService.setSelectedId(item.id)"
                    (dblclick)="dataService.setEditedItemId(item.id)"
                    [class.selected]="item.id == dataService.selectedId"
                >
                    <ng-container *ngIf="dataService.editedId != item.id">
                        <mat-checkbox 
                            [checked]="dataService.getItem(item.id)?.status === 'Complete'"
                            (click)="dataService.setStatus(item.id)"
                        ></mat-checkbox>
                        <div id="task_text">
                            {{dataService.getItem(item.id)?.text}}
                        </div>
                        <app-button
                            [tooltip]="'Delete'"
                            (click)="dataService.deleteItem(item.id)"
                            class="button button--delete"
                        >Delete</app-button>
                    </ng-container>
                    <ng-container *ngIf="dataService.editedId == item.id">
                        <mat-checkbox 
                            [checked]="dataService.getItem(item.id)?.status === 'Complete'"
                            (click)="dataService.setStatus(item.id)"
                        ></mat-checkbox>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <input
                                matInput [(ngModel)]="dataService.editText"
                                placeholder="Edit your todo"
                            >
                        </mat-form-field><pre> </pre>
                        <app-button
                            [tooltip]="'Save'"
                            (click)="dataService.editItem(dataService.editText)"
                            class="button button--save"
                            [disabled]="!dataService.editText"
                        >Save</app-button>
                    </ng-container>
                </li>
            </div>
            <div
                id="description"
                [textContent]="dataService.currentDescription()"
            ></div>
        </span>
    </ng-container>
</ul>