li {
    display: flex;
    justify-content: space-between;
    background-color: #e4ebff;
    margin-top: 0.5em;
    padding: 0 0.6em 0 0.6em;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
}
#task_text {
    flex: 1;
}
li.selected {
    background-color: rgb(153, 177, 245);
}
ul {
    padding-left: 0;
}
mat-form-field {
    flex: 1;
    font-size: 1em !important;
}
#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-radio-button {
    padding-right: 1em;
}