<ul class="todo_table">
    <app-spinner *ngIf="isLoading" id="spinner"/>
    <ng-container *ngIf="!isLoading">
        <span id="list_block">
            <div id="list">
                <li
                    [tooltip]="'Task'"
                    *ngFor="let id of itemList.keys()"
                    (click)="setSelectedId(id)"
                    (dblclick)="setEditedItemId(id)"
                    [class.selected]="id == selectedItemId"
                >
                    <ng-container *ngIf="editedITemId != id">
                        {{itemList.get(id)?.text}}
                        <app-button
                            [tooltip]="'Delete'"
                            (click)="deleteItem(id)"
                            class="button button--delete"
                        >Delete</app-button>
                    </ng-container>
                    <ng-container *ngIf="editedITemId == id">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic">
                            <input
                                matInput [(ngModel)]="text"
                                placeholder="Edit your todo"
                            >
                        </mat-form-field><pre> </pre>
                        <app-button
                            [tooltip]="'Save'"
                            (click)="saveItem(text)"
                            class="button button--save"
                            [disabled]="!text"
                        >Save</app-button>
                    </ng-container>
                </li>
            </div>
            <div
                id="description"
                [textContent]="currentDescription()"
            ></div>
        </span>
    </ng-container>
</ul>